alembic
aniso8601
bcrypt
blinker
click
Faker
Flask
Flask-Bcrypt
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
python-dateutil
pytz
six==1.16.0
SQLAlchemy==2.0.23
typing_extensions==4.8.0
Werkzeug==3.0.1

